<main>DEFAULTs
  <iframe width="1310" height="526" src="https://www.youtube.com/embed/5bEa2qynFxA" title="Isaac Albéniz -  Sevilla from Suite Española Op. 47" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <embed src="https://www.youtube.com/embed/5bEa2qynFxA" type="">
  <aside>
    <article>
      <figure>

      </figure>
    </article>
    <article>

    </article>
  </aside>
  <section>
    <header>

    </header>
    <article>

    </article>
    <footer>

    </footer>
  </section>
</main>