<main>
  <aside>
    <article>
      <figure>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfe6jcAl-caOpYsxMmeoN-cAkL-QuqQ_q_VA&s" alt="">
      </figure>
    </article>
    <article>
      <figure>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfe6jcAl-caOpYsxMmeoN-cAkL-QuqQ_q_VA&s" alt="">
      </figure>
    </article>
  </aside>
  <section>
    <header>
      <h5>UNAHUR</h5>
      <h5>12:45</h5>
      <h5 id="sector_name"></h5>
    </header>
    <article>
      <span id="advertisings"></span>
    </article>
    <footer>

    </footer>
  </section>
</main>